* {
	box-sizing: border-box;
}

html, body{
	height: 100%;
	min-height: 100%;
}

body {
	background: url("../image/wooden-background.jpg");
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	color: white;
	position: absolute;
	top: 20px;
	left: 50%;
	text-align: center;
	width: 600px;
	margin-left: -300px;
}

.board {
	background: white;
	margin: 0 auto;
	border-radius: 9px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.tile {
	border: 2px solid brown;


	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.82) 50%, rgba(209,209,209,0.81) 51%, rgba(254,254,254,0.63) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,0.82)), color-stop(51%, rgba(209,209,209,0.81)), color-stop(100%, rgba(254,254,254,0.63)));
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.82) 50%, rgba(209,209,209,0.81) 51%, rgba(254,254,254,0.63) 100%);
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.82) 50%, rgba(209,209,209,0.81) 51%, rgba(254,254,254,0.63) 100%);
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.82) 50%, rgba(209,209,209,0.81) 51%, rgba(254,254,254,0.63) 100%);
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,0.82) 50%, rgba(209,209,209,0.81) 51%, rgba(254,254,254,0.63) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}


ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	float: left;
}

.on {
	background-color: black;
}

.active li:hover {
	background: yellow;
}

.active li.mousedown:hover {
	background: grey;
}